extends layout

block content
  div(id='movie_list')
    each movie in movies
      div(id = "movie" + movie._id)
        div.div_img
          img(src = movie.url class='poster')
        hr
        p.admin_title
          span= movie.title
          span= '  /  ' + movie.year

        div(class="btn")
          input(type="button" onclick="ajaxDelete("+ movie._id +")" value="Delete" class="delete")
          input(type="button" onclick="ajaxEdit(" + movie._id + ")" value="EDIT" class="edit")
          -if(movie.trending == true)
            img(src="/images/star.svg" onclick="ajaxStar(" + movie._id + ")" id="star"+movie._id class="star")
          -else
            img(src="/images/black-star.svg" onclick="ajaxStar(" + movie._id + ")" id="star"+movie._id class="star")

        hr

  p(id='editfile')